certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
kaleido==0.2.1
mwparserfromhell==0.6.6
numpy==1.26.3
packaging==23.2
pandas==2.2.0
patsy==0.5.6
plotly==5.18.0
plotly-express==0.4.1
polars==0.20.5
python-dateutil==2.8.2
pytz==2023.3.post1
pywikibot==8.6.0
requests==2.31.0
scipy==1.12.0
six==1.16.0
statsmodels==0.14.1
tenacity==8.2.3
tqdm==4.66.1
tzdata==2023.4
urllib3==2.1.0
XlsxWriter==3.1.9
